# Location /etc/udev/rules.d/99-multiseat.rules

# add master-of-seat tag to video cards (0x10de is NVIDIA vendor id)
SUBSYSTEM=="drm", KERNEL=="card[0-9]*", ATTRS{vendor}=="0x10de", DRIVERS=="nvidia", TAG+="master-of-seat"

SUBSYSTEM=="input", DEVPATH=="/devices/pci0000:00/0000:00:1c.6/0000:0a:00.0/*", ENV{ID_SEAT}="seat-1"

# assign video cards
TAG=="seat", DEVPATH=="/devices/pci0000:00/0000:00:01.0/0000:01:00.0/*", ENV{ID_SEAT}="seat-1"

# assign all unassigned inputs to seat0
SUBSYSTEM=="input", TAG=="seat", ENV{ID_SEAT}=="", ENV{ID_SEAT}="seat0"

# apply tags for xorg
ENV{ID_SEAT}!="", ENV{ID_INPUT.tags}+="$env{ID_SEAT}" TAG+="$env{ID_SEAT}"
